<a href="https://colab.research.google.com/github/nithin1762/AIML_2303A52011/blob/main/Aiml_lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

lists
arrays

In [ ]:
import numpy as np
l1 =[1,2,3,4,5,6]
ar1=np.array(l1)
print(a1)
ar1

[1 2 3 4 5 6]

array([1, 2, 3, 4, 5, 6])

identify types using types()

In [ ]:
print(type(ar1))
type(ar1)

<class 'numpy.ndarray'>

numpy.ndarray

mathematical opeeration

In [ ]:
l2=[9,8,7,6,5,4]
ar2=np.array(l2)
print(f"multiplication of {ar1} and {ar2} is {ar1*ar2}")
print(f"division of {ar1} and {ar2} is {ar1/ar2}")
print(f"powerof of {ar1} and {ar2} is {ar1**ar2}")

multiplication of [1 2 3 4 5 6] and [9 8 7 6 5 4] is [ 9 16 21 24 25 24]
division of [1 2 3 4 5 6] and [9 8 7 6 5 4] is [0.11111111 0.25       0.42857143 0.66666667 1.         1.5       ]
powerof of [1 2 3 4 5 6] and [9 8 7 6 5 4] is [   1  256 2187 4096 3125 1296]

combining of text and addition of two arrays

In [ ]:
print(f"the addition of {ar1} and {ar2} is {ar1+ar2}")

the addition of [1 2 3 4 5 6] and [9 8 7 6 5 4] is [10 10 10 10 10 10]

part2


part3

In [ ]:
import numpy as np
import pandas as pd
data= pd.read_csv("HistoricalPrices.csv")
print(data)
df1=pd.read_table("/content/task3")
print(df1)
data3 = pd.read_excel("/content/file_example_XLS_10.xls")
print(data3)

        Date      Open      High       Low     Close
0   08/07/24  39230.09  39477.96  38731.51  38763.45
1   08/06/24  38736.22  39449.53  38638.30  38997.66
2   08/05/24  39056.19  39056.19  38499.27  38703.27
3   08/02/24  40075.33  40075.33  39358.68  39737.26
4   08/01/24  40916.96  41096.66  40098.57  40347.97
..       ...       ...       ...       ...       ...
56  05/16/24  39912.34  40051.05  39864.68  39869.38
57  05/15/24  39615.10  39935.04  39615.10  39908.00
58  05/14/24  39466.76  39616.41  39371.92  39558.11
59  05/13/24  39591.28  39647.39  39403.05  39431.51
60  05/10/24  39466.52  39579.88  39406.26  39512.84

[61 rows x 5 columns]
  i am praneeth
0       yohoohoh
   0 First Name  Last Name  Gender        Country  Age        Date    Id
0  1      Dulce      Abril  Female  United States   32  15/10/2017  1562
1  2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
2  3     Philip       Gent    Male         France   36  21/05/2015  2587
3  4   Kathleen     Hanner  Female  United States   25  15/10/2017  3549
4  5    Nereida    Magwood  Female  United States   58  16/08/2016  2468
5  6     Gaston      Brumm    Male  United States   24  21/05/2015  2554
6  7       Etta       Hurn  Female  Great Britain   56  15/10/2017  3598
7  8    Earlean     Melgar  Female  United States   27  16/08/2016  2456
8  9   Vincenza    Weiland  Female  United States   40  21/05/2015  6548